* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    min-height: 100vh;
}

.mapa {
    position: relative;
    width: 100%;
    height: 100vh;
}

.item {
    position: absolute;

    width: 56px;
    height: 56px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;

    border-radius: 6px;

    background: linear-gradient(
        135deg,
        #059bff,
        #0097ee,
        #02b5fc
    );

    box-shadow: 0 3px 6px #0008;
}

.l1  { left: 9px;   top: 9px; }
.l2  { left: 73px;  top: 9px; }
.l3  { left: 138px; top: 9px; }


.l4  { left: 442px; top: 83px; }
.l5  { left: 507px; top: 83px; }
.l6  { left: 571px; top: 83px; }

.l7  { right: 170px; top: 156px; }
.l8  { right: 106px; top: 156px; }
.l9  { right: 42px;  top: 156px; }


.l10 { left: 9px;   top: 230px; }
.l11 { left: 507px; top: 230px; }
.l12 { right: 42px; top: 230px; }


.l13 { left: 156px; top: 304px; }
.l14 { left: 507px; top: 304px; }
.l15 { right: 156px; top: 304px; }

.l16 { left: 230px; top: 377px; }
.l17 { left: 507px; top: 377px; }
.l18 { right: 230px; top: 377px; }


.l19 { left: 442px; top: 451px; }
.l20 { left: 507px; top: 451px; }
.l21 { left: 571px; top: 451px; }


.l22 { right: 42px; top: 525px; }
.l23 { left: 507px; top: 525px; }    

 .l24 { left: 9px; top: 525px; }
.l25 { left: 156px; top: 599px; }
.l26 { left: 507px; top: 599px; }
.l27 { right: 156px; top: 599px; }


.l28 { left: 433px; top: 672px; }
.l29 { left: 507px; top: 672px; }
.l30 { left: 580px; top: 672px; }