* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111827;
    font-family: Arial;
}

.linha {
    display: flex;
    height: 65px;
}

/* Cubos */

.cubo {
    width: 50px;
    height: 50px;
    margin: 5px;

    background-color: #2196f3;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* Linha 1 - esquerda */

.linha1 {
    justify-content: flex-start;
}


/* Linha 2 - centro */

.linha2 {
    justify-content: center;
}


/* Linha 3 - direita */

.linha3 {
    justify-content: flex-end;
}


/* Linha 4 - separados */

.linha4 {
    justify-content: space-between;
}


/* Linha 5 */

.linha5 {
    justify-content: space-around;
}


/* Linha 6 */

.linha6 {
    justify-content: space-evenly;
}


/* Linha 7 */

.linha7 {
    justify-content: center;
    align-items: center;
}


/* Linha 8 */

.linha8 {
    justify-content: flex-end;
}


/* Linha 9 */

.linha9 {
    justify-content: space-around;
}


/* Linha 10 */

.linha10 {
    justify-content: center;
}


/* Rodapé */

footer {
    text-align: center;
    color: white;
    padding: 20px;
}